# Database Credentials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gdelt
POSTGRES_USER=root
POSTGRES_PASSWORD=root

# PgAdmin Credentials
# Used to log into the web interface at localhost:8085
PGADMIN_EMAIL=root@root.ch
PGADMIN_PASSWORD=root

LOG_LEVEL=INFO
