# Database Credentials
# Change these for your local environment
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_DB=gdelt_db

# PgAdmin Credentials
# Used to log into the web interface at localhost:8085
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=your_admin_password

# GDELT Configuration (Optional for later)
# GDELT_BASE_URL=http://data.gdeltproject.org/gdeltv2/
