project           = "your-gcp-project-id"
region            = "eu"
location          = "EU"
gcs_bucket_name   = "generated-by-scripts-provision-gcp-infra"
bq_dataset_name   = "generated_by_scripts_provision_gcp_infra"
gcs_storage_class = "STANDARD"
